@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #1E1E1E;
    color: #F0F4F8;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
}

code {
    font-family: 'Roboto Mono', monospace;
}


  .icon-white {
    filter: invert(75%);
  }
